.message-comments-wrapper {
  background: #eee;
  margin-top: 5px;
  padding: 10px;
}
.entity-wall-message {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  position: relative;
}
.entity-wall-message .message-links {
  position: absolute;
  right: 5px;
  top: 2px;
  z-index: 999;
}
a.message-comments-more {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  display: block;
}
.entity-wall-message .message-picture {
  float: left;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}
.entity-wall-message .message-date {
  color: #555;
}
.entity-wall-message p {
  margin: 0;
}
.message-content-wrapper {
  margin-left: 60px;
}
